<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  
  <%- include("/Users/aj/Downloads/4.3 EJS Partials/views/partials/header.ejs") %>
  <h1>Welcome</h1>
  <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
  
</head>
<body>
  <!-- Welcome page of amrita university -->
  <div class="container">
    
    <div class="text">
        <h1>Amrita Vishwa Vidyapeetham</h1>
        <p>Amrita Vishwa Vidyapeetham is a multi-campus, multi-disciplinary research academia that is accredited 'A' by NAAC and is ranked as one of the best research institutions in India. The university is spread across five campuses in three states of India - Kerala, Tamil Nadu and Karnataka, with the University headquarters at Ettimadai, Coimbatore, Tamil Nadu.</p>
        <p>The university continuously collaborates with top US universities including Ivy league universities and top European universities for regular student exchange programs, and has emerged as one of the fastest growing institutions of higher learning in India.The university is managed by the Mata Amritanandamayi Math.</p>
        <p> At present, Amrita Vishwa Vidyapeetham has more than 15000 students, more than 1700 faculty, more than 1500 staff and 13 constituent schools, which include six schools of engineering, three of medicine, two of arts and sciences, one of biotechnology and one school of business, offering UG, PG and PhD programs. </p>
    </div>  
</body>
  
  <%- include("/Users/aj/Downloads/4.3 EJS Partials/views/partials/footer.ejs") %>
</body>
</html>





